.card-img-top {
    width: 200px;
    height: 200px;
    margin: 20px auto auto auto;
}

.author1 {
    display: inline-block;
    margin: auto;
    padding: 5px 15px;
}

.author2 {
    display: inline-block;
    margin: auto;   
    padding: 5px 15px;
}

.profile-body {
    margin: auto;   
    text-align: center;
}

.btn-lk {
    border-radius: 50%;
    margin: 3px;
}

.btn-tw {
    border-radius: 50%;
    margin: 3px;
}

.btn-ins {
    border-radius: 50%;
    margin: 3px;
}

.fa-at {
    color: #5c7cfa;
}
