.admin-analytics {
    margin:5px;
}

.header-analytics {
    margin-bottom: 10px;
}


.graphs-container {
    // height:400px;
    // width:100%;
    display: flex;
    margin: auto;
    padding: 5px;
}

canvas {
    margin: auto;
    text-align: center;
};

.btn {
    margin: 5px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 1.5em;
}

.graph {
    margin: 5px;
    text-align: center;
}

.graphs-1 {
    height: 500px;
    width: 400px;
}

.tools {
    padding: 0px;
}