.outer-container {
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    padding: 10px;
    height: auto;
    width: 500px;
    margin: 8% auto auto auto;
    position: relative;
    background-color:white;
}

.container {
    margin: 0;
    padding: 0px 15px 0px 15px;
}

.form-group {
    margin-bottom: 5px;
}

.action-buttons {
    margin: auto;
    text-align: center;
}

.logo-container {
    position: relative;
    text-align: center;
    height: 150px;
    width: auto;
    margin: auto;
    padding: auto;
}

.logo {
    
    text-align: center;
    height: 150px;
    width: auto;
    margin: auto;
    padding: auto;
}

.title {
    font-size: 26px;
    margin: 0px;
}

.input-group {
    padding: 10px 0px 10px 0px;
}

.input-btn {
    text-align: center;
}

.btn {
    margin: 10px;
}

.about-us {
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    &:hover {
        color: blue;
        cursor: pointer;
    }
}