#register {
    margin: 10px auto auto 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 1.5em;
}

#transactions {
    margin: 10px auto auto 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 1.5em;
}

#graphs {
    margin: 10px auto auto 10px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 1.5em;
}

.container {
    margin-top: 30px;
}

.help-msg {
    margin-left: 10px;
}

.thead-dark {
    text-align: center;
}
