<div class="fluid-container btn-options">
  <button id="register" type="button" class="btn btn-success btn-register btn-outline-light" data-toggle="tooltip"
    data-placement="bottom" title="Registrar" (click)="registerModal()"><i class="fas fa-user-plus"></i></button>
  <button id="transactions" type="button" class="btn btn-primary btn-transactions btn-outline-light"
    data-toggle="tooltip" data-placement="bottom" title="Transacciones" (click)="onTransactions()"><i class="fas fa-wallet"></i></button>
  <button id="graphs" type="button" class="btn btn-warning btn-stats btn-outline-light" data-toggle="tooltip"
    data-placement="bottom" title="Gráficas" (click)="onAnalytic()"><i class="fas fa-wave-square"></i></button>
</div>
<hr>

<ng-template [ngIf]=analytic>
  <app-graphs></app-graphs>
  <hr>
</ng-template>

<ng-template [ngIf]=transactions>
  <app-transactions-all></app-transactions-all>
  <hr>
</ng-template>

<ng-template [ngIf] ="!analytic && !transactions">
  <div class="help-msg">
      <h4><span class="badge badge-dark header-help-mesg"><i class="far fa-arrow-alt-circle-up"></i> Utilice las herramientas</span></h4>
  </div>
</ng-template>
