.rch {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    font-size: 50px;
    color: #ffffff;
    line-height: 275px;
    text-align: center;
    background-color: skyblue;
    display: inline-block;
}

.pay {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    border: none;
    font-size: 50px;
    color: #ffffff;
    line-height: 275px;
    text-align: center;
    background-color:rgba(255, 112, 112, 0.925);
 
}

.layout {
    text-align: center;
    height: 300px;
    width: 600px;
    margin: 175px auto auto auto;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;
}