<div class="container-fluid" >
  <table class="table table-hover fixed_header">
    <thead class="thead-dark">
      <tr class="row">
        <th class="col-1 d-flex justify-content-center" scope="col">ID de Transacción</th>
        <th class="col-1 d-flex justify-content-center" scope="col">ID de Usuario</th>
        <th class="col-1 d-flex justify-content-center" scope="col">Tipo</th>
        <th class="col-4 d-flex justify-content-center" scope="col">Fecha</th>
        <th class="col-3 d-flex justify-content-center" scope="col">Descripción</th>
        <th class="col-2 d-flex justify-content-center" scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" *ngFor='let row of content'>
        <td class="col-1 d-flex justify-content-center id">{{ row.trx_ID }}</td>
        <td class="col-1 d-flex justify-content-center id">{{ row.user_ID }}</td>
        <td class="col-1 d-flex justify-content-center trx">{{ row.trx_type}}</td>
        <td class="col-4 d-flex justify-content-center date">{{ row.date | date:'medium' }} </td>
        <td class="col-3 d-flex justify-content-center description">{{ row.description }}</td>
        <td class="col-2 d-flex justify-content-center amount">{{ row.amount | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>