<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Debit</th>
      <th scope="col">Credit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let row of content'>
      <td>{{row.id}}</td>
      <td>{{row.user}}</td>
      <td>{{row.type}}</td>
      <td>{{row.date | date:'medium'}}</td>
      <td>{{row.debit | currency }}</td>
      <td>{{row.credit | currency }}</td>
    </tr>
  </tbody>
</table>