.verify {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    line-height: 275px;
    text-align: center;
    background-color: skyblue;
    display: inline-block;
}

.layout {
    text-align: center;
    height: 300px;
    width: 600px;
    margin: 125px auto auto auto;
    vertical-align: middle;
}

.container {
text-align: center;
margin: auto;
}