body {
    padding: 10px;
}

.logo {
    text-align: center;
    height: 450px;
    width: auto;
}

.logo-container {
    text-align: center;
    margin: auto 350px;
    border: 3px solid #707070;
    border-radius: 25px;
    background: yellow;
}

.cs {
    font-size: 75px;
    color: #707070;
}

.uc {
    font-size: 50px;
    color: #707070;
}