.modal-header {
    background-color: greenyellow;
}

.fluid-container {
    margin: 5px;
    padding: 5px;
}


form {
    margin: 5px;
    padding: 5px;
    overflow:auto;
}

.modal-footer {
    margin: 5px;
    padding: 5px;
}