.modal-header {
    background-color: greenyellow;
}

.fluid-container {
    margin: 5px;
    padding: 5px;
}

.btn-tarjeta {
    text-align: center;
    margin: auto 100px auto 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    display: inline-block;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    line-height: 16px;
}

.btn-container {
    text-align: center;
    margin: auto;
}

form {
    margin: 5px;
    padding: 5px;
    overflow:auto;
}

.modal-footer {
    margin: 5px;
    padding: 5px;
}